.error {
	color: red;
}

.status {
	color: green;
}

.featured {
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

img.resize{
    width:80%; /* you can use % */
    height: 300px;
}

img.grid {
	width:100%;
	height:150px;
}

p.title{
	margin-top:-50px;
	margin-bottom:30px;
	color:white;
}

div.container {
   	position: relative;
}

div.text{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

div.textbackground{
    background-color: black;
    filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
    position: absolute;
    top: 0; left: 0;
    height: 100%; width:100%;
}